<div class="center jumbotron">
  <h1>Welcome to the Goulmet World!</h1>

  <h2>グルメ情報を共有しよう！<br>お店選びに失敗しなくなるかも！？</h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>
