<% provide(:title, "サイトについて") %>
<h1>サイトについて</h1>
<p>
  <h2>このサイトは美食家達の社交場です！</h2>
  <h2>あなたが美味しい穴場のお店を見つけたとき、どうしますか？</h2>
  <h2>え？誰にも教えたくない？</h2>
  <h2>それはむしろ勿体ない！</h2>
  <h2>みんなで共有することで、より質の高い美食情報が集まるのですよ！！</h2>
  <h2>さぁ、めくるめく</h2>
  <h1 class="bishoku">美食</h1>
  <h2>の世界への扉を開けましょう！</h2>
</p>