<h1>I'm goulmet!</h1>

<p><%= @user.name %>さん</p>

<p>
Welcome to the Goulmet World!<br>「有効化」をクリックすると、アカウント登録が完了します。
</p>

<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>