
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>"<%= @follower.name %>"さんがフォローしてくれました！</h1>
    <%= link_to user_url(@follower) do %>
      フォローしてくれた"<%= @follower.name %>"さんのプロフィールを確認するにはここをクリック！
    <% end %>
  </body>
</html>