<h1>パスワード再設定</h1>

<p>パスワードを再設定するには、以下のリンクをクリックしてください</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>上記のリンクは2時間で期限が切れます。</p>

<p>
  パスワード再設定を行った覚えがない場合、このメールは破棄してください。
</p>